<section class="oe_container">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Customer Extra Fields</h2>
		<h3 class="oe_slogan">Age - Birthday - Last Payment - Last Invoice</h3>
		<h4 class="oe_slogan" style="font-size: 23px;">Mediproyect S.A. - https://medic.site</h4>
		<div class="oe_demo oe_screenshot" style="max-width: 84%; margin: 16px 8%;">
			<img src="screenshot.png">
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced">
		<div style="max-width: 84%; margin: 16px 8%;">
			<h3 class="oe_slogan">Overview</h3>
			<p class="oe_mt32 text-justify">Adds support for Customer Age, Birthday, Last Payment (date and amount) and Last Invoice (date and amount)</p>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<h3 class="oe_slogan">Help and Support</h3>
	<h5 class="oe_slogan" style="font-size: 20px;">Feel free to
		contact us, if you need any help with your Odoo integration or
		addiontal features.</h5>
	<div class="oe_slogan">
		<a class="btn btn-primary btn-lg mt8" href="mailto:cdmarrero2040@gmail.com">
			<i class="fa fa-envelope"></i> Email
		</a> <a class="btn btn-primary btn-lg mt8"
			href="https://medic.site/en_US/page/contactus"> <i class="fa fa-phone"></i>
			Contact
	</div>
	<img src="logo.png" style="width: 200px; margin-bottom: 20px;"
		class="center-block">
</section>